<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<div id="comment-section"></div>
<script>
  initComments({
      node: document.getElementById("comment-section"),
      defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
      serverName: "cactus.chat",
      siteName: "jt0in3e",
      commentSectionId: '{{ if .Page.Params.did }} {{- .Page.Params.did -}} {{ else if isset .Params 0 }} {{- index .Params 0 -}} {{ else }}jt0in3e-blog-comments{{ end }}',
      guestPostingEnabled: false,
      updateInterval: 30
  })
</script>

